<ul class='nav' style="display:flex;justify-content:left;">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="/advworks">Adventure&nbsp;Works</a>
    </li>
</ul>