<div class="container-fluid">
    <a class="navbar-brand" href="#">Lynn Demarest</a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" 
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample03" style="">
      <ul class="navbar-nav me-auto mb-2 mb-sm-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/misc" tabindex="-1" >Miscellaneous</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">APIs</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="/courses">Courses</a></li>
            <li><a class="dropdown-item" href="/files">File Manager</a></li>
          </ul>
        </li>
      </ul>
      <form>
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>


<!-- <ul class='nav' style="display:flex;justify-content:left;">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="/advworks">Adventure&nbsp;Works</a>
    </li>
    <li>
        <a href="/misc">Miscellaneous&nbsp;Tips&nbsp;and&nbsp;Tricks</a>
    </li>
</ul> -->