
<div style="display: flex">
  <img
    id="testimage"
    src="<%= imagePath %>"
    style="width: <%= boardwidth %>px; border: 5px solid black"
  />
  <div
    id="<%= gameboardid %>"
    style="width: <%= boardwidth %>px; background-color: black; margin-left: 20px"
  ></div>
</div>


<script>
  //document.getElementById("testimage").src = "https://i.picsum.photos/id/552/500/500.jpg?hmac=xhz_UnakbIYc1wvTaAxKJt7MvTl3ykIrcPX9PEfFwN8";
  //document.getElementById("testimage").src = "/images/street.jpg";
//   window.onload = (e) => {
//     try {
//       var game = new SlidingPuzzleGame(options);
//     } catch (err) {
//       console.log(err);
//     }
//   };
</script>
