
<div style="display: flex">
  <img
    id="testimage"
    src="<%= imagePath %>"
    style="width: <%= boardwidth %>px; border: 5px solid black;"
  />
  <div
    id="<%= gameboardid %>"
    style="width: <%= boardwidth %>px; background-color: black; margin-left: 20px"
  ></div>
</div>
