<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">   
      <h1>Courses</h1>
      <p>This simple courses API offers a simple CRUD interface, as follows:</p> 
      <ul>
          <li>Create Course </li>
            POST /api/courses
            <br/>Body has json { "name": "new course"}
          <li>Read All </li>
            <a href="/api/courses" target="_blank">GET /api/courses</a> 
          <li>Read One Course </li>
          <a href="/api/courses/1" target="_blank">GET /api/courses/1</a>
          <li>Update One Course</li>
            PUT /api/courses
            <br/>
            {
                "id": 6,
                "name": "record 4"
            }
          <li>Delete Course</li>
            DELETE /api/courses/1
      </ul>
      The data is stored in a simple in-memory array, and so is not persistent.
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
