<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">   
      <h1>File Manager API</h1>
      <p>This API allows you to manage files in a folder located on the server.</p> 
      <p>You must be registered and logged in for this to work, of course.</p>
      <p>See <a target="_blank" href="help">Help</a> for more.</p>

    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
