<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <h1>Home</h1>
      <p>Welcome to my <b>node.js</b> playground.</p>
      <p>
        Here, I tinker with the flexible and powerful platform by exercising a
        few of the many packages available.
      </p>
      <p>See <a target="_blank" href="help">Help</a> for more.</p>

      <!-- <%- include("./partials/SlidingPuzzlePartialView.ejs") %> -->

      <!-- <div style="display: flex">
        <img id="testimage" src="/images/street.jpg"  />
        <div id="gameboard" style="background-color:black;width: 300px; height:300px; margin-left: 20px"></div>
      </div>  -->
    </div>
    <%- include("./partials/footer.ejs") %>

    <!-- <script src="/js/ImageProcessor.js"></script>
    <script src="/js/cSlidingPuzzleGame.js"></script> -->

    <!-- "/images/street.jpg" -->
    <!-- <script>
      //document.getElementById("testimage").src = "https://i.picsum.photos/id/552/500/500.jpg?hmac=xhz_UnakbIYc1wvTaAxKJt7MvTl3ykIrcPX9PEfFwN8";
      //document.getElementById("testimage").src = "/images/street.jpg";

      options = {
        src: "/images/street.jpg",
        numColsToCut: 3,
        numRowsToCut: 3,
        heightOfOnePiece: 100,
        widthOfOnePiece: 100,
        gameboardid: "gameboard",
      };
      // options = {
      //   src: "/images/tree.jpg",
      //   numColsToCut: 5,
      //   numRowsToCut: 5,
      //   heightOfOnePiece: 100,
      //   widthOfOnePiece: 100,
      //   gameboardid: "gameboard",
      // };

      var game = new SlidingPuzzleGame(options);
    </script> -->



  </body>
</html>
