<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="container">
      <h1>How to Use</h1>

      <p>
        This is a simple Node.js API using Express and several other modules.
        The endpoints are :
      </p>

      <ul>
        <li>
          api/courses -- Manipulates an in-memory array, for simple experiments.
        </li>
        <li>api/fileman -- Manipulates a given folder tree.</li>
      </ul>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
