.nav {
    list-style: none;
    background:black;
    
    padding:1rem;
}
.nav a {
    text-decoration: none;
    background-color: gold;
    color:black;
    font-weight:bold;
    margin-right:1rem;
    padding:.5rem;
}

.nav a:hover{
    color:gold;
    background-color:#444;
    outline:1px solid gold;
}